.button {
  border: 1px solid #333;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  background: white;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}

.button:hover {
  background: #333;
  color: #fff;
}
